<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='account.css') }}">
    <title>Title</title>
</head>
<body>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<div class="topnav">
  <a class="active" href>
  <a class="active" href="/logout">logout</a></a>
</div>
    <center>{% with messages = get_flashed_messages() %}
   {% if messages %}
     <ul class="flashes">
        {% for message in messages %}
         <div class="message_flash">{{ message }}</div>
        {% endfor %}
    </ul>
  {% endif %}
 {% endwith %}</center>

<table>
            <tr>
  <tr>
    <th>Topics from paper</th>
    <th>Topics from syllabus</th>
  </tr>
    {% for i in q %}

    <tr>
        <td><label for="psw"><b></b></label>{{i[0]}}</td>
        <td><label for="psw"><b></b></label>{{i[1]}}</td>
 </tr>
{% endfor %}
</table>

</body>
</html>